In [1]:
import pandas  as pd 
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB

In [2]:
spam_df =pd.read_csv('spam - spam.csv',encoding = 'latin-1')

In [3]:
spam_df.drop(['Unnamed: 2','Unnamed: 3','Unnamed: 4'],axis=1,inplace=True)

In [4]:
spam_df

        v1                                                 v2
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham            Will ï¿½_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [5]:
spam_df.tail(5)

        v1                                                 v2
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham            Will ï¿½_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

In [6]:
spam_df.rename(columns={'v1':'category','v2':'Message'},inplace= True)

In [7]:
spam_df

     category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham            Will ï¿½_ b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [8]:
spam_df.groupby('category').describe()

         Message                                                            \
           count unique                                                top
category
ham         4825   4516                             Sorry, I'll call later
spam         747    647  Please call our customer service representativ...


         freq
category
ham        30
spam        4

In [9]:
spam_df['spam']=spam_df['category'].apply(lambda x:1 if x=='spam' else 0)

In [10]:
spam_df

     category                                            Message  spam
0         ham  Go until jurong point, crazy.. Available only ...     0
1         ham                      Ok lar... Joking wif u oni...     0
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3         ham  U dun say so early hor... U c already then say...     0
4         ham  Nah I don't think he goes to usf, he lives aro...     0
...       ...                                                ...   ...
5567     spam  This is the 2nd time we have tried 2 contact u...     1
5568      ham            Will ï¿½_ b going to esplanade fr home?     0
5569      ham  Pity, * was in mood for that. So...any other s...     0
5570      ham  The guy did some bitching but I acted like i'd...     0
5571      ham                         Rofl. Its true to its name     0

[5572 rows x 3 columns]

In [11]:
x_train,x_test,y_train,y_test=train_test_split(spam_df.Message,spam_df.spam,test_size=0.8,random_state=42)

In [12]:
x_train

2679    New Tones This week include: 1)McFly-All Ab..,...
2761    I am not sure about night menu. . . I know onl...
1387    Hope ur head doesn't hurt 2 much ! Am ploughin...
5233     Hey what how about your project. Started aha da.
5045    Desires- u going to doctor 4 liver. And get a ...
                              ...
3772    I came hostel. I m going to sleep. Plz call me...
5191                               Sorry, I'll call later
5226        Prabha..i'm soryda..realy..frm heart i'm sory
5390                           Nt joking seriously i told
860                   In work now. Going have in few min.
Name: Message, Length: 1114, dtype: object

In [13]:
x_train.describe()

count                       1114
unique                      1091
top       Sorry, I'll call later
freq                           6
Name: Message, dtype: object

In [14]:
cv=CountVectorizer()
x_train_count=cv.fit_transform(x_train.values)

In [15]:
x_train_count.toarray()
model=MultinomialNB()
model.fit(x_train_count,y_train)

MultinomialNB()

In [17]:
email_ham=["Click and Win"]
email_ham_count=cv.transform(email_ham)
model.predict(email_ham_count)

if model.predict(email_ham_count)== 0:
    print("Not Spam")
else:
    print("Spam")

Spam